nav{
    width: 100vw;
    /*background: #3500d3;*/
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.watsapp img{
    width: 20px;

}
nav li:hover {
    color:#f79e02;
    transition: 1s;
}
.logo{
    width: 170px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}
nav p{
    margin-left: -200px;
    justify-content: left;
}
.dark-nav{
    background: #215ea0;
    transition: 0.5s;
    
}
.blue-background{
    background: #215ea0;
}
.menu-icon{
    display: none;
   
}

/*-------------media query-----------*/

@media(max-width:1000px){
    .logo{
        width: 140px;
    }
    na ul li{
        margin: 10px 15px;
    }
}
@media (max-width:840px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0;
        background: #212ea0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -200px;
    }
}
